<nav>
  <div class="site-title">
    <a href="/blogs"><h1>Food Bank</h1></a>
    <p>Give what you can</p>
  </div>
  <ul>
    <li><a href="/blogs">All Donations</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/blogs/create">Donate Here</a></li>
  </ul>
</nav>