<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <header>  
      <h1>About Us</h1>
      <br>
  </header>

  <section id="mission">
      <h2>Our Mission</h2>
      <p>Welcome to <strong>Food Bank</strong>, a compassionate initiative dedicated to bridging the gap between those in need and generous donors. Our mission is simple: to ensure that no one goes hungry.</p>
  </section>

  <section id="team">
      <h2>Our Team</h2>
      <p>At <strong>Food Bank</strong>, we're driven by a passionate team of individuals committed to making a difference in the world. Meet the minds behind our platform:</p>
      <ul>
          <li><strong>Founder:</strong> Maithri - The visionary founder who conceptualized <strong>Food Bank</strong> out of a desire to create a positive impact in society.</li>
          <li><strong>Co-Founder:</strong> Karthik - With a shared passion for humanitarian causes, Karthik joined forces with Maithri to turn the vision of <strong>Food Bank</strong> into a reality.</li>
          <li><strong>Marketing Lead:</strong> Akshara - Our creative marketing lead who spreads awareness about <strong>Food Bank</strong> and encourages more people to join our cause.</li>
          <li><strong>Support Team Member:</strong> Manoj - The compassionate individual who provided assistance and support to both donors and recipients, ensuring a smooth experience for everyone involved.</li>
      </ul>
  </section>

  <section id="vision">
      <h2>Our Vision</h2>
      <p>We envision a world where hunger is eradicated, and every individual has access to nutritious meals. Through <strong>Food Bank</strong>, we strive to create a community of kindness and generosity, where those who have plenty share with those in need.</p>
  </section>

  <section id="involved">
      <h2>Get Involved</h2>
      <p>Join us in our mission to fight hunger and make a meaningful difference in people's lives. Whether you're looking to donate food, volunteer your time, or simply spread the word about our platform, there are countless ways to get involved and contribute to our cause.</p>
      <p>Together, we can create a brighter, more nourished future for all.</p>
  </section>

  <%- include("./partials/footer.ejs") %>
</body>
</html>